# Number 1
Read the `winequality-red.csv` data into a `DataFrame`, and the `winequality-white.csv` into another `DataFrame`.

In [1]:
import pandas as pd
reds_df = pd.read_csv('data/winequality-red.csv', delimiter=';')
whites_df = pd.read_csv('data/winequality-white.csv', delimiter=';')

# Number 2

Double check that you've read them in right by using some of the attributes and methods available on `DataFrames` for getting a general sense of your data (**Hint**: See `day10-intro_pandas`, `week5` if you need a refresher on these).

In [2]:
print(reds_df.shape)
print(reds_df.columns)

(1599, 12)
Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [3]:
reds_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
print(whites_df.shape)
print(whites_df.columns)

(4898, 12)
Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [5]:
whites_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

# Number 3

I've decided that this month I want to stay away from wines with relatively high alcohol content. To do that, I'm going to avoid any wines that have a greater alcohol content than the mean alcohol content, and you're going to help me do this. To achieve this, let's do the following: 

 * Find the mean alcohol content, separately, for reds and whites. 
 * Create a `Series` that holds whether each row in each `DataFrame` (the reds, and whites) has a higher alcohol content than the mean. 
 * Merge this `Series` onto the `DataFrame`. I can imagine doing this with either a `.join()` or using `pd.concat()`. For practice, do it with both. Note: merges with `Series` work the same way that they work with `DataFrames`. 
 * Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.

In [6]:
reds_avg_alcohol = reds_df['alcohol'].mean()
whites_avg_alcohol = whites_df['alcohol'].mean()

In [7]:
reds_avg_alcohol_mask = reds_df['alcohol'] > reds_avg_alcohol
whites_avg_alcohol_mask = whites_df['alcohol'] > whites_avg_alcohol 
reds_avg_alcohol_mask.name='alcohol_bool'
whites_avg_alcohol_mask.name='alcohol_bool'

In [8]:
# Using join.
whites_df_joined = whites_df.join(whites_avg_alcohol_mask, lsuffix= '', rsuffix='')
reds_df_joined = reds_df.join(reds_avg_alcohol_mask, lsuffix='', rsuffix='')

In [9]:
# Using concat. 
whites_df_concatenated = pd.concat([whites_df, whites_avg_alcohol_mask], axis=1)
reds_df_concatenated = pd.concat([reds_df, reds_avg_alcohol_mask], axis=1)

In [10]:
whites_df_joined.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_bool
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,False
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,False
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,False
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False

In [11]:
reds_df_joined.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_bool
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False

In [12]:
whites_df_concatenated.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_bool
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,False
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,False
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,False
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False

In [13]:
reds_df_concatenated.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_bool
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False

In [14]:
# What I want back. 
drinkable_reds = reds_df_concatenated.query('alcohol_bool == False')
drinkable_whites = whites_df_concatenated.query('alcohol_bool == False')

# Number 4

Let's say that I want to get started on cutting back next month. This time, though, I want to focus on staying away from those wines with a high acidity. Specifically, I want to stay away from those wines that are in the highest bin of fixed acidity. You're now going to help me do this. To achieve this, let's do the following: 

 * Separate the rows in each `DataFrame` into 5 equal width bins based off their fixed acidity.
 * Merge the resulting `Series` holding these 5 bins onto the original `DataFrame`. I can imagine also doing this with either `.join()` or using `pd.concat()`. Try doing it with both for practice. 
 * Return back to me all those rows that are **not in ** the top bin in terms of fixed acidity.

In [15]:
reds_acidity_bins = pd.cut(reds_df['fixed acidity'], 5, labels=[1, 2, 3, 4, 5])
whites_acidity_bins = pd.cut(whites_df['fixed acidity'], 5, labels=[1, 2, 3, 4, 5])

In [16]:
reds_acidity_bins.name = 'fixed_acidity_bins'
whites_acidity_bins.name = 'fixed_acidity_bins'

In [17]:
whites_df_joined2 = whites_df.join(whites_acidity_bins, lsuffix= '', rsuffix='')
reds_df_joined2 = reds_df.join(reds_acidity_bins, lsuffix='', rsuffix='')

In [18]:
whites_df_concatenated2 = pd.concat([whites_df, whites_acidity_bins], axis=1)
reds_df_concatenated2 = pd.concat([reds_df, reds_acidity_bins], axis=1)

In [19]:
whites_df_joined2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fixed_acidity_bins
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,2
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,2
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,3
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,2
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,2

In [20]:
reds_df_joined2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fixed_acidity_bins
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,2
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,2
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,2

In [21]:
whites_df_concatenated2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fixed_acidity_bins
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,2
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,2
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,3
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,2
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,2

In [22]:
reds_df_concatenated2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fixed_acidity_bins
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,2
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,2
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,2

In [23]:
# What I want back. 
drinkable_reds = reds_df_concatenated2.query('fixed_acidity_bins != 5')
drinkable_whites = whites_df_concatenated2.query('fixed_acidity_bins != 5')

# Number 5

Let's say that I now want to know how much my decision to avoid those wines with higher `alcohol` content is going to limit the `quality` of wines that I can drink. To figure this out, I want to know a couple of things: 

 * The average `alcohol` content for those reds above the mean `alcohol` level, by quality.
 * The average `alcohol` content for those whites above the mean `alcohol` level, by quality. 
 
Use a `pivot table` to solve this.

In [24]:
# I'm going back to the DataFrames that I already created above, whites_df_concatenated and 
# reds_df_concatenated. These already have the boolean merged in for whether or not each row 
# is higher than the mean alcohol content.

In [25]:
# For reds. 
pd.pivot_table(reds_df_concatenated, values='alcohol', index='quality', columns='alcohol_bool')

alcohol_bool     False      True
quality
3             9.564286  10.866667
4             9.640909  11.295000
5             9.600276  11.088686
6             9.736524  11.437214
7             9.922222  11.708236
8             9.900000  12.368750

In [26]:
# For whites.
pd.pivot_table(whites_df_concatenated, values='alcohol', index='quality', columns='alcohol_bool')

alcohol_bool      False      True
quality
3              9.558333  11.525000
4              9.636638  11.425532
5              9.481132  11.211099
6              9.679489  11.604366
7              9.666667  11.924761
8              9.469697  12.139437
9             10.400000  12.625000

# Number 6

Now, do the same for my decision to avoid wines with a high acidity next month: 

 * Find the average `alcohol` content for reds, by `quality` and `fixed acidity` bin. 
 * Find the average `alcohol` content for whites, by `quality` and `fixed acidity` bin. 
 
Use a `pivot table` to solve this.

In [27]:
# I'm going back to the DataFrames that I already created above, whites_df_concatenated2 and 
# reds_df_concatenated2. These already have the bin values merged in for fixed acidity.

In [28]:
# For reds. 
pd.pivot_table(reds_df_concatenated2, values='alcohol', index='quality', 
               columns='fixed_acidity_bins')

fixed_acidity_bins          1          2          3          4          5
quality
3                    9.875000  10.500000   9.150000   9.000000        NaN
4                   11.006667   9.981667   9.920000   9.966667        NaN
5                   10.304245   9.773727   9.846429  10.229630  12.050000
6                   11.223529  10.431985  10.687395  10.480952  10.240000
7                   12.195402  11.486413  11.383333  10.809524   9.866667
8                   13.633333  11.937500  11.916667   9.800000        NaN

In [29]:
# For whites.  
pd.pivot_table(whites_df_concatenated2, values='alcohol', index='quality', 
               columns='fixed_acidity_bins')

fixed_acidity_bins          1          2          3     4     5
quality
3                    9.850000  10.472727  10.540000  9.65   NaN
4                   10.786364  10.102564  10.126471  9.90   NaN
5                   10.136635   9.732173  10.176452  9.70   NaN
6                   10.902765  10.529056  10.635247  9.50  11.1
7                   12.021405  11.303724  10.988679   NaN   NaN
8                   12.403030  11.486364  11.080000   NaN   NaN
9                         NaN  12.625000  10.400000   NaN   NaN